/* Full-screen container with background color */
html, body {
  background-color: #161616;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: #f2f4f8;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*background-color: #161616;*/
}

/* Larger rectangular content box */
.content-box {
  display: flex;
  width: 800px;  /* Increased width */
  height: 400px; /* Increased height */
  background: #333333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Left section for the logo */
.left-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  background-color: #333333;
}

/* Logo styling */
.logo {
  width: 250px;
  height: 250px;
}

/* Right section for text */
.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  width: 60%;
  margin-bottom: 5px;
}

/* Heading style */
.right-section h1 {
  margin: 0;
  font-weight: normal;
  font-size: 36px;
  color: #f2f4f8;
}

/* Paragraph style */
.right-section p {
  font-size: 18px;
  color: #f2f4f8;
}

/* Button style - no rounded corners */
.learn-more {
  margin-top: 15px;
  margin-right: 20px;
  padding: 12px 18px;
  border: 1px solid #f2f4f8;
  background-color: #333333;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
}

/* Button hover effect */
.learn-more:hover {
  background-color: #fcb007;
  border: 1px solid black;
  color:#333333;
}